//Defines all the containers used in the project
process {
    withLabel: ubuntu {
        container = 'ubuntu:23.04@sha256:52293638ba652a2e8f9e1c1cfcc905839b1f2a9e671ddcc9bf77909b6bf527d0'
    }
    withLabel: tool_salmon {
        container = 'quay.io/biocontainers/salmon:1.10.0--h7e5ed60_0@sha256:8d2cbffa9a88e0991013b4d2d43c075ee8a6d006538fe01426609f7eb88f7de8'
    }
    withLabel: tool_terminus {
        container = 'quay.io/biocontainers/terminus:0.1.0--hbd16fde_5@sha256:8d8d1f377af0a5959e9b32ba53cff31a7aa3488f752456f873c5cdd9d4ad5558'
    }
    withLabel: tool_samtools {
        container = 'quay.io/biocontainers/samtools:1.16.1--h6899075_1@sha256:e17e1b35a3f77b70f102ccb37921b3dd969bcf9b52a90e79a5bd475c9ef220b4'
    }
    withLabel: tool_fastp {
        container = 'quay.io/biocontainers/fastp:0.23.2--h5f740d0_3@sha256:2489fe56260bde05bdf72a8ead4892033b9a05dc4525affb909405bea7839d1b'
    }
    withLabel: tool_tximeta_fishpond {
        container = 'ghcr.io/kschaubroeck/nf-rnaseq:v0.2.0'
    }
}
